* {
  box-sizing: border-box;
}

.generate-pass {
  display: grid;
  grid-template-columns: 2fr 5fr 1fr;
  width: 50%;
  margin-left: 25%;
  align-items: center;
  justify-content: center;
}

.generate-button {
  font-weight: 700;
  height: 2em;
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: #1ab467;
  color: #333;

  &:hover {
    color: white;
  }
}

.pass-container {
  display: grid;
  background-color: rgb(240, 235, 235);
  border-radius: 5px;
  height: 1.5em;
  align-items: center;
  text-align: center;
  justify-content: center;
}

@media (max-width: 520px) {
  .generate-pass {
    grid-template-columns: 1fr;
    width: 70%;
    margin-left: 15%;
  }

  .generate-pass > * {
    margin-top: 2em;
  }
}
